@if(starship){
<div class="grid grid-cols-1 md:grid-cols-2 w-10/12 mx-auto">
  <app-starship-gallery class="mx-auto md:ml-auto"></app-starship-gallery>
  <section class="text-white bg-primary p-5">
    <h1>{{ starship.name }}</h1>
    <p>Model: {{ starship.model }}</p>
    <p>Manufacturer: {{ starship.manufacturer }}</p>
    <p>Length: {{ starship.length }}</p>
    <p>Cost in Credits: {{ starship.cost_in_credits }}</p>
    <p>Max Atmosphering Speed: {{ starship.max_atmosphering_speed }}</p>
    <p>Crew: {{ starship.crew }}</p>
  </section>
</div>
}