@if(starship){
<section>
  <header class="text-white uppercase w-10/12 mx-auto border-t border-b border-white py-3 mt-10 mb-5">
    <h1 class="text-4xl">
      Starships
    </h1>
  </header>
  <div class="grid grid-cols-1 md:grid-cols-2 w-10/12 mx-auto pb-15">
    <app-starship-gallery class="mx-auto md:ml-auto"></app-starship-gallery>
    <section class="text-white animation-section">
      <div class="bg-primary p-5 min-h-full">
        <h1 class="text-xl mb-3">{{ starship.name }}</h1>
        <p>Model: {{ starship.model }}</p>
        <p>Manufacturer: {{ starship.manufacturer }}</p>
        <p>Length: {{ starship.length }}</p>
        <p>Cost in Credits: {{ starship.cost_in_credits }}</p>
        <p>Max Atmosphering Speed: {{ starship.max_atmosphering_speed }}</p>
        <p>Crew: {{ starship.crew }}</p>
      </div>
    </section>
  </div>
</section>
}