<div class="w-full bg-black mx-auto">
  <h1>Starships</h1>

  <div class="grid grid-cols-12">
    <ul class="col-span-6 col-start-4 p-4 rounded-lg text-main-text">
      @for(starship of starships; track starship.model){

      <li class="my-5">
        <div class="bg-primary py-4 px-3 rounded-sm hover:text-white transition duration-300 ease-in-out">
          <strong>{{ starship.name }}</strong> <br> {{ starship.model }}

        </div>
      </li>

      }

      <h1 class="text-3xl font-bold underline">
        Hello world!
      </h1>
    </ul>


  </div>
</div>