<div
  class="w-full max-w-sm lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 lg:p-15 mt-10">
  <div>
    <img ngOptimizedImage [src]="disneyLogo" alt="logo disney">
  </div>
  <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h5 class="text-xl font-medium text-gray-900">Enter your email to continue</h5>
    <p>Log in to Star Wars with your MyDisney account. If you don't have one, you will be prompted to create one.</p>
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
      <input type="email" formControlName="email" id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Email">
      @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
      <p class="text-red-500 text-sm">
        Email is required and must be valid.
      </p>
      }
    </div>
    <div>
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Your password</label>
      <input type="password" formControlName="password" id="password" placeholder="••••••••"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
      <p class="text-red-500 text-sm">
        Password must be at least 6 characters long.
      </p>
      }
    </div>
    @if (errorMessage) {
    <p class="text-red-500 text-sm text-center">{{ errorMessage }}</p>
    }
    <button type="submit" [disabled]="loginForm.invalid"
      [ngClass]="{'opacity-50 cursor-not-allowed': loginForm.invalid, 'cursor-pointer': !loginForm.invalid}"
      class="w-full text-white bg-star-wars-yellow-light hover:bg-star-wars-yellow font-medium rounded-lg text-sm px-5 py-2.5 text-center">Continue</button>
    <button (click)="loginWithGoogle()"
      class="w-full flex items-center justify-center bg-white border border-gray-300 rounded-lg shadow-sm py-2 px-4 hover:bg-gray-100 cursor-pointer">
      <!-- <fa-icon [icon]="googleIcon"></fa-icon> -->
      <svg width="16" height="16" viewBox="0 0 256 262" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid">
        <path
          d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
          fill="#4285F4" />
        <path
          d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
          fill="#34A853" />
        <path
          d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
          fill="#FBBC05" />
        <path
          d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
          fill="#EB4335" />
      </svg>

      <span class="text-gray-700">&nbsp; Continue with Google</span>
    </button>
    <div class="text-sm font-medium text-gray-500">
      Not registered? <a [routerLink]="['/signup']"
        class="text-star-wars-yellow hover:text-star-wars-yellow-light">Create
        account</a>
    </div>
  </form>
</div>