<div class="star-wars-intro">
  <p class="intro-text">
    A long time ago in a galaxy far, far away...
  </p>
  <h2 class="main-logo">
    <img src="assets/img/star-wars-intro.png">
  </h2>
  <div class="main-content">

    <div class="title-content">
      <p class="content-header">Episode V</p>
      <br>
      <p class="content-body">
        It is a dark time for the
        Rebellion. Although the Death
        Star has been destroyed,
        Imperial troops have driven the
        Rebel forces from their hidden
        base and pursued them across
        the galaxy.<br><br>

        Evading the dreaded Imperial
        Starfleet, a group of freedom
        fighters led by Luke Skywalker
        has established a new secret
        base on the remote ice world
        of Hoth.<br><br>

        The evil lord Darth Vader,
        obsessed with finding young
        Skywalker, has dispatched
        thousands of remote probes into
        the far reaches of space.
      </p>
    </div>
  </div>
  <div class="text-center space-button-div">
    <a [routerLink]="['/starships']"
      class="bg-star-wars-yellow hover:bg-white text-white hover:text-star-wars-yellow font-bold font-display space-button">
      Go to Starships
    </a>
  </div>
</div>