<div class="star-wars-intro">
  <p class="intro-text">
    A long time ago in a galaxy far, far away...
  </p>
  <h2 class="main-logo">
    <img ngOptimizedImage [src]="starWarsIntroImg">
  </h2>
  <div class="main-content">

    <div class="title-content">
      <p class="content-header">{{titleStarWarsIntro}}</p>
      <br>
      <p class="content-body" [innerHTML]="contentStarWarsIntro"></p>
    </div>
  </div>
  <div class="text-center space-button-div">
    <a [routerLink]="['/starships']"
      class="bg-star-wars-yellow hover:bg-white text-white hover:text-star-wars-yellow font-bold font-display space-button">
      Go to Starships
    </a>
  </div>
</div>