@use "tailwindcss";
@theme {
  --color-twitter-blue: #1da1f2;
  --color-primary: #151515;
  --color-main-text: #818181;
}
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
body {
  font-family: "Orbitron", serif;
  margin-bottom: 50px;
  background-color: #000;
}
