@use "tailwindcss";
@theme {
  --color-twitter-blue: #1da1f2;
  --color-primary: #151515;
  --color-main-text: #818181;
  --color-star-wars-yellow: #ffc107;
  --color-star-wars-yellow-light: #fade4b;
  --font-display: "Orbitron", serif;
}
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
body {
  font-family: "Orbitron", serif;
  background: url("../public/assets/img/stars-bg.jpg") center center;
}
